<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Passwordless - Example: Simple-Mail</h1>
    <p>
    User: 
    <% if(user) { %>
    	<%= user %> (<a href='/logout'>logout</a>)
    <% } else { %>
    	Not logged in
    <% } %>
    </p>
    <ul>
      <li>
        <a href='/login'>Login / Register</a>
      </li>
    </ul>
  </body>
</html>