<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css'>
  </head>
  <body>
    <h1>Passwordless - Example: Simple-Mail</h1>
    <p>This example gives an idea how to implement a token-based authentication in the most easiest way. Any specific options 
    and configurations are skipped for the purpose of simplicity. In case you'd like to dive deeper please check out the 
    website (passwordless.net) or the README file.</p>
    <p>After registration / login an email will be send to the user incl. the login token. Please make sure to check all 
    the needed configurations in the app.js file.</p>
    <p>
    User: 
    <% if(user) { %>
    	<%= user %> (<a href='/logout'>logout</a>)
    <% } else { %>
    	Not logged in
    <% } %>
    </p>
    <ul>
      <li>
        <a href='/login'>Login / Register</a>
      </li>
      <li>
        <a href='/restricted'>Restricted page</a>
      </li>
    </ul>
  </body>
</html>