<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css'>
  </head>
  <body>
    <h1>Email sent</h1>
    <p>Please check your inbox and click on the link provided</p>
    <ul>
      <li>
        <a href='/'>Back to homepage</a>
      </li>
      <li>
        <a href='/restricted'>Restricted page</a>
      </li>
    </ul>
  </body>
</html>