<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css'>
  </head>
  <body>
    <h1>Restricted page!</h1>
    <p>
    User: 
    <% if(user) { %>
    	<%= user %> (<a href='/logout'>logout</a>)
    <% } else { %>
    	Not logged in
    <% } %>
    </p>
    <p>
    This page is only accessible for authenticated users! Psssss... This is a secret!
    </p>
    <ul>
      <li>
        <a href='/'>Back to homepage</a>
      </li>
      <li>
        <a href='/login'>Login / Register</a>
      </li>
    </ul>
  </body>
</html>